<% content_for :head_top do %>
    <title>CrossFit Academy</title>
    <meta name="description" content="4x 60min sessions working 1on1 with a coach to teach you the foundations of CrossFit">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/crossfit-academy-bg-min.jpg');">
    <div class="intro-content">
        <div class="brand-name">CrossFit Academy<div>
        <hr class="colored">
        <div class="brand-name-intro">Teaching you the foundations of CrossFit</div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>What You Get</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-12" style="">
                <div class="content">
                    <p>
                    CrossFit is an awesome way to get and stay in shape. Part of its fun and effectiveness comes from its variety.  That being said, we need to teach you all the different movements, technique and jargon so you can be both safe and comfortable once you join group classes.
                    </p>

                    <div class="row content-row text-center" style="margin-top:50px">
                        <div class="col-md-4 col-sm-6">
                            <img src="<%= asset_path('teacher.svg') %>" style="height:100px" alt="whiteboard icon">
                            <div class="about-content">
                                <h3>Whiteboard Talks</h3>
                                <p>Each session starts with a talk covering topics such as CrossFit methodology, nutrition, recovery and more. Our goal is to teach you to fish, so you'll know how to get the most from your workouts and the results you want.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <img src="<%= asset_path('kb.svg') %>" style="height:100px" alt="kettlebell icon">
                            <div class="about-content">
                                <h3>Technique Work</h3>
                                <p>We teach you the foundational barbell lifts like the clean, snatch, squat and deadlift. We also cover gymnastic and plyometric movements as well. You'll never be in the dark on how to perform a movement correctly.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <img src="<%= asset_path('heartbeat.svg') %>" class="special-img" alt="heartbeat icon">
                            <div class="about-content" style="margin-top:98px">
                                <h3>Sweat Session</h3>
                                <p>It's not all instruction. We take the movements just learned and combine them in different workout formats you can expect to see when training within the group class. Each workout will be scaled specifically for you.</p>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cta-form bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/noelle-headshot.jpg" class="img-responsive img-centered">
            </div>
            <div class="col-md-8">
                <h3>Noelle's Academy Experience</h3>
                <p>
                    The CrossFit Academy is AMAZING! My co-worker was always raving about CrossFit but after checking it out online I thought there was no way I could do it.  She encouraged me to check out Cigar City CrossFit.  The coaches and other members made me feel super comfortable so I decided to try the Academy.
                </p>
                <p> 
                    Oh man! THANK YOU coach Mike for taking the time to really make sure I learned the movements. I struggled with the clean and jerk for a long time but finally got it. I am forever grateful to the coaches of Cigar City CrossFit for their continuous dedication to helping me become the best athlete I can be.  And with them, I feel like I've joined a family, not just another gym!!!
                </p>
            </div>
        </div>
    </div>
</section>

<section id="pricing" class="pricing" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg')">
    <div class="container-fluid" style="padding-right:40px;padding-left:40px;">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Pricing</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6 col-md-offset-3">
                <div class="pricing-item">
                    <h3>CrossFit Academy</h3>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>275</span></div>
                    <ul class="list-group">
                        <li class="list-group-item">5x Sessions</li>
                        <li class="list-group-item">1on1 with a Coach</li>
                        <li class="list-group-item">60 minutes each</li>
                        <li class="list-group-item">InBody Scan</li>
                        <li class="list-group-item">Tailored Nutrition Plan</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>