<% content_for :head_top do %>
    <title>Group Training</title>
    <meta name="description" content="Small group training that follows the CrossFit methodology.">
<% end %>

<header style="background-image: url('https://i1.wp.com/cftaskforce.files.wordpress.com/2016/01/group-training-bg_optimized.jpg');">
    <div class="intro-content">
        <div class="brand-name">Group Training<div>
        <hr class="colored">
        <div class="brand-name-intro">Workout With Your Friends</div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>What You Get</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-12" style="">
                <div class="content">
                    <p>
                    CrossFit is an awesome way to get and stay in shape.  Unlike other group training models where you only do one activity like cycling or yoga, CrossFit keeps you excited about working out by having constantly varied workouts that incorporate elements of cardio, weight training and gymnastics. 

                    Some might think CrossFit is dangerous or done only by extremely fit people.  Not so.  We have athletes of all abilities and ages and they are able to workout together because our coaches are able to scale the workouts to meet each athlete's need.  So, if you're looking for a fun and community orientated way to stay in shape, this is the ticket for you!
                    </p>

                    <div class="row content-row text-center">
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Initial Consultation</h3>
                                <p>Schedule a 1on1 check-in with a coach to discuss your goals, prior training, any injuries, availability and answer any of your questions.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-graduation-cap fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>CrossFit Academy</h3>
                                <p>All new athletes complete 4x 1on1 60 minute sessions with a coach  before joining group programming.  We teach you the what, why and how of CrossFit so you're setup for success.
                            </div>
                            <%= link_to "Learn More About The Academy", crossfit_academy_services_path, class: "btn btn-primary" %>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Group Training</h3>
                                <p>Classes are available throughout the day.  Each class includes strength training, skill development and aerobic and anaerobic conditioning.</p>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cta-form bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/steve-headshot-1.jpg" class="img-responsive img-centered">
            </div>
            <div class="col-md-8">
                <h3>Steve's Success Story</h3>
                <p>Cigar City CrossFit is my favorite place to be.  I've worked out at a few other CrossFit gyms before and I can say hands down this has been my best experience.  From the facility, the coaches, programming and other members, I've really found my home away from home.  In just five months, I've added 10lbs of muscle and increased my lifts across the board by 20%.  My deadlift is at 465lbs, my back squats at 375lbs and my Fran time is below 4 minutes.  Working out with the Cigar City CrossFit team is the best part of my day.  If you're on the fence, don't be, jump right in, it's the best decision I've made in a long time.</p>
            </div>
        </div>

        <div class="row content-row">
            <div class="col-md-4">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/gray-headshot.jpg" class="img-responsive img-centered">
            </div>
            <div class="col-md-8">
                <h3>Grey's Success Story</h3>
                <p>I wanted to try CrossFit but I was always too intimidated to just jump in.  But, I worked up the courage and dropped into a Saturday class.  I was hooked.  Ben and Mike really focus on education and go out of their way to make sure every athlete performs safely and to the best of their individual ability. Pair that with being pushed to your max in a fun and accepting environment and you've got CrossFit gold!
                </p>
            </div>
        </div>

        <div class="row content-row">
            <div class="col-md-4">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/danny-headshot.jpg" class="img-responsive img-centered">
            </div>
            <div class="col-md-8">
                <h3>Danny's Success Story</h3>
                <p>I started here about six months ago so I think enough time has passed where I can confidently say Cigar City CrossFit is objectively the best workout experience I've ever had. I've worked out consistently for 6 years and will try anything once.  LA Fitness, Powerhouse, yoga, Orange Theory; you name it, I've probably done it.  This isn't to disparage those places, only to say that what Mike and Ben are doing at Cigar City is what keeps me coming back every day.  The facilities, the coaching, the motivation, the community. All of it is top notch and I wouldn't hesitate to recommend them to anyone.</p>
            </div>
        </div>

    </div>
</section>

<section id="pricing" class="pricing" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg')">
    <div class="container-fluid" style="padding-right:40px;padding-left:40px;">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Pricing</h2>
                <hr class="colored">
                <p class="pricing-subtext">Size up our packages and see what works best for you</p>
                <p>Student?  Inquire about our rates</p>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-15">
                <div class="pricing-item">
                    <h3>Intramural</h3>
                    <hr class="colored">
                    <p>month to month</p>
                    <div class="price"><span class="number"><sup>$</sup>180</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited Classes</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-15">
                <div class="pricing-item">
                    <h3>Club</h3>
                    <hr class="colored">
                    <p>3 month contract</p>
                    <div class="price"><span class="number"><sup>$</sup>170</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited Classes</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-15">
                <div class="pricing-item">
                    <h3>Athlete</h3>
                    <hr class="colored">
                    <p>6 month contract</p>
                    <div class="price"><span class="number"><sup>$</sup>160</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited Classes</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-15">
                <div class="pricing-item">
                    <h3>Competitor</h3>
                    <hr class="colored">
                    <p>12 month contract</p>
                    <div class="price"><span class="number"><sup>$</sup>150</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited Classes</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-15">
                <div class="pricing-item">
                    <h3>Free Agent</h3>
                    <hr class="colored">
                    <p>punch card</p>
                    <div class="price"><span class="number"><sup>$</sup>160</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item">10 Classes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>