<% content_for :head_top do %>
    <title>InBody Scan</title>
    <meta name="description" content="Get your body fat, lean muscle mass and basal metabolic rate measured.  Go beyond the scale and learn exactly how much muscle and fat you have.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/inbody-sca-bg-min.jpg');">
    <div class="intro-content">
        <h1 class="brand-name">InBody Scan<h1>
        <hr class="colored">
        <div class="brand-name-intro">You can't change what you don't measure</div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Body Fat Testing Done Right</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
        	<div class="col-lg-12" style="">
                <div class="content">
                    <p>
                        Stop guessing if you're making improvements in your body composition.  The scale only gives you your weight, but with an InBody scan you can learn a detailed breakdown of your lean muscle mass, your body fat percentage, your basal metabolic rate and more.  For most athletes we recommend a scan every three months.  For those who are focused on body composition changes we recommend a scan every month.
                    </p>

                    <div class="row content-row text-center">
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-bullseye fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Accurate</h3>
                                <p>InBody's results are 98% accurate compared to a DEXA scan (the gold standard for measurement).  InBody uses its own patented technology to analyze results and never uses statistical modeling.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-fighter-jet fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Fast</h3>
                                <p>A scan takes just under 2 minutes to complete and only requires you to take your shoes off.  No invasive or awkward caliper testing.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-money fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Affordable</h3>
                                <p>A single scan costs $35 or you can buy 2 for $60.  Compare that to a DEXA Scan which cost $150 for a single scan.</p>
                            </div>
                        </div>
                    </div>   
                </div>
        	</div>
        </div>
    </div>
</section>


<aside class="cta-quote" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/iceberg-min.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Find out what lies beneath</h1>
            </div>
        </div>
    </div>
</aside>

<section>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Book Your InBody Scan</h2>
                <hr class="colored">
                <p>No eating, drinking or exercising at least TWO hours beforehand</p>
                <p>Morning time is best since you need to be fasted</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <iframe src="https://cigarcitycrossfit.zenplanner.com/zenplanner/portal/scheduler.cfm?type=Scheduler&FRAME=true " style="width:100%; height:500px;" frameborder="0" id="idZenPlannerFrame">
                <noframes>     <a href="https://cigarcitycrossfit.zenplanner.com/zenplanner/portal/scheduler.cfm">Appointment Registration</a>
                </noframes> </iframe>
                <script src="https://cigarcitycrossfit.zenplanner.com/zenplanner/skin/js/resize.js"></script>
            </div>
        </div>
    </div>
</section>