<% content_for :head_top do %>
    <title>Individual Design</title>
    <meta name="description" content="Individual design is like personal training without the constant supervision of the coach.  You'll receive a personalized plan that you do on your own.">
<% end %>

<header style="background-image: url('https://i0.wp.com/cftaskforce.files.wordpress.com/2016/01/id-bg_optimized.jpg');">
    <div class="intro-content">
        <h1 class="brand-name">Individual Design<h1>
        <hr class="colored">
        <div class="brand-name-intro">A Program Tailored To You</div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Why Individual Design</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
        	<div class="col-lg-12" style="">
                <div class="content">
                    <p>
                        For those in search of an individualized program, the traditional route has been personal training. However, personal training can be costly and at some point no longer needed once the athlete has a firm technical grasp.  We created individual design as a means to facilitate more people getting the benefits of individualized programming without having to pay for a coach's time every session.
                    </p>
                    <p>
                        All athletes complete an intial assessment to determine their strength and weaknesses.  Based on their goals, the coach will then reverse engineer a plan that takes an athlete where they are to where they want to go. The workouts are delivered via email and a mobile app. The athlete completes the workouts during Open Gym hours.  To ensure you stay progressing, you'll also receive two personal training sessions per month.
                    </p>

                    <div class="row content-row text-center">
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>No Sweat Intro</h3>
                                <p>Schedule a no sweat intro to check-in with a coach to discuss your goals, prior training, any injuries, availability and answer any of your questions.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-address-card fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Assessment</h3>
                                <p>We combine body composition measurements, a movement screen and a physical assessment to determine your strengths and weaknesses and intial starting point. </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-pencil-square-o fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Program Design</h3>
                                <p>Based off the initial testing, we build a custom workout program. Everything is track and measured so we know empirically how you are progressing towards your goals.</p>
                            </div>
                        </div>
                    </div>   
                </div>
        	</div>
        </div>
    </div>
</section>


<section class="cta-form bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Dan's Success Story</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/dan-squatting.jpg" class="img-responsive img-centered" alt="individual design success story - dan">
            </div>
            <div class="col-md-8">
                <p>
                    I've been training CrossFit consistently for about two years before starting on an individual design with Coach Mike at Cigar City CrossFit.  My goals are to make the CrossFit Regionals in 2018.  To meet those goals, I needed a program that centered around me, that focused on my weaknesses and that fit around my schedule. 
                </p>

                <p>
                    Coach Mike is super knowledgeable and within the first two months I've already seen tremedous gains in my overall fitness.  I've PR'ed my back squat, deadlift, snatch and clean and jerk.  I've also increased my aerobic capacity significantly.  My Fran time dropped from 2:57 to 2:30.  I couldn't be happier with my decision.  I feel like I'm on actual path forward instead of just coming in and exercising myself to death.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="pricing" class="pricing" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg')">
    <div class="container-fluid" style="padding-right:40px;padding-left:40px;">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Pricing</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6 col-md-offset-3">
                <div class="pricing-item">
                    <h3>Individual Design</h3>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>345 /mo</span></div>
                    <ul class="list-group">
                        <li class="list-group-item">A coach dedicated to you</li>
                        <li class="list-group-item">2x 30 min PT sessions per month</li>
                        <li class="list-group-item">A plan crafted for your goals</li>
                        <li class="list-group-item">Workouts delivered and tracked through mobile app</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>