<% content_for :head_top do %>
    <title>Nutrition Planning</title>
    <meta name="description" content="Custom meal, grocery list and macronutrient planning">
<% end %>

<header style="background-image: url('https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/nutrition-planning-bg-min.jpg');">
    <div class="intro-content">
        <div class="brand-name">Nutrition Planning<div>
        <hr class="colored">
        <div class="brand-name-intro">Because Food is the Foundation</div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>What You Get</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
        	<div class="col-lg-12" style="">
                <div class="content">
                    <p>
                    Are you putting in the work at the gym but not seeing the results you hoped for?  Whether you are looking to lose weight or gain muscle the key to building a body that is lean and muscular is through your diet.  Many have asked for this service and we're happy to finally be able to deliver it.

                    You'll meet with a coach to discuss your goals and go over what your current diet consists of.  We'll ask that <strong>BEFORE</strong> you come in, you track your entire day of eating for at least <strong>TWO</strong> days.  Based on your goals, we'll create meal plans and grocery lists that fit your necessary macronutrient profile.  We'll deliver this weekly via email.  You'll have the support of a coach along the way that will be accessible via email, text and in person check-ins.
                    </p>

                    <div class="row content-row text-center">
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Initial Consultation</h3>
                                <p>Schedule a 1on1 session with a coach.  Track your eating for 2 days beforehand.  We recommend <a href="http://myfitnesspal.com" target="_blank">myfitnesspal</a> as an easy and free way to food log.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-address-card fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Assessment</h3>
                                <p>Based off your goals we create a daily macronutrient breakdown (how much fat, protein, carbs).  Based on this, we devise a weekly meal plan and grocery list.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-cutlery fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Meal Plan</h3>
                                <p>With your plan created, we send it to you weekly via email.  We're always a text or phone call away if you have any questions.</p>
                            </div>
                        </div>
                    </div>   
                </div>
        	</div>
        </div>
    </div>
</section>


<section class="cta-form bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Tony's Success Story</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/tony-before-and-after-sm.jpg" class="img-responsive img-centered">
            </div>
            <div class="col-md-8">
                <p>I met with 9 trainers from the Tampa/St Pete area. When I met Kristen without even knowing her I felt instant trust and feeling that it meant a lot to her to help me reach my goals. Kristen put a plan together for ME. She got to know me first through an in-depth questionnaire so she could tailor the plan to me. This was great because I’m a picky eater and have a crazy schedule.
                </p> 

                <p>I’m two months into the coaching and am seeing great results and feel a million times better. I don’t want to say it’s “easy” to follow because it was hard at first with my old bad lifestyle but she makes it so you still enjoy life. She sends out follow up emails, checks in to see how I'm feeling etc and has a wealth of knowledge. Knowledge that the average person just doesn't have when it comes to that field. I would highly recommend her to handle any nutrition needs.</p>
            </div>
        </div>
    </div>
</section>

<section class="pricing" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg')">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Pricing</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-4">
                <div class="pricing-item featured-first">
                    <h3>Single Session</h3>
                    <p>Ideal for those who only need a macro breakdown</p>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>75</span> / per hr </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-item featured">
                    <h3>Monthly Member</h3>
                    <p>if you have a reoccurring membership</p>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>100</span> / month</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-item featured-last">
                    <h3>Non-Monthly Member</h3>
                    <p>Punchcard or non-gym member</p>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>150</span> / month</div>
                </div>
            </div>
            
        </div>
    </div>
</section>