<% content_for :head_top do %>
    <title>Nutrition Planning</title>
    <meta name="description" content="Learn more about our nutrition planning service.  Whether you want to lose weight, tone up, build muscle or get a six pack, you'll need a nutrition plan.">
<% end %>

<header style="background-image: url('https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/nutrition-planning-bg-min.jpg');">
    <div class="intro-content">
        <h1 class="brand-name">Nutrition Planning<h1>
        <hr class="colored">
        <div class="brand-name-intro">Because Food is the Foundation</div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Why Nutrition Planning</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
        	<div class="col-lg-12" style="">
                <div class="content">
                    <p>
                        Are you putting in the work at the gym but not seeing the results you hoped for?  Whether you are looking to lose weight or gain muscle the key to building a body you're happy with is through eating the right foods for you.
                    </p>

                    <p>
                        Our nutrition plans are not a templated, one size fits all approach.  We evaluate where you are currently and what your goals and timeframe are to build a nutrition plan that incrementally moves you forward.  You'll receive monthly homework and the accountability of coach every step of the way.  You'll also complete an InBody scan at every consultation so we can track your progress empirically.
                    </p>

                    <div class="row content-row text-center">
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>No Sweat Intro</h3>
                                <p>Schedule a no sweat intro session with a coach.  Track your eating for a typical weekday and weekend.  We recommend <a href="http://myfitnesspal.com" target="_blank">myfitnesspal</a> as an easy and free way to food log.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-cutlery fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Monthly Homework</h3>
                                <p>Looking over both your food log and goals we create a plan that makes consistent incremental improvements.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-life-ring fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Continuous Support</h3>
                                <p>Your plan isn't a cookier cutter template and it will change as you progress.  We'll meet and revise every month based on your progress.</p>
                            </div>
                        </div>
                    </div>   
                </div>
        	</div>
        </div>
    </div>
</section>


<section class="cta-form bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Tony's Success Story</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/tony-before-and-after-sm.jpg" class="img-responsive img-centered" alt="nutrition planning success story - tony">
            </div>
            <div class="col-md-8">
                <p>I met with 9 trainers from the Tampa/St Pete area. When I met Kristen without even knowing her I felt instant trust and feeling that it meant a lot to her to help me reach my goals. Kristen put a plan together for ME. She got to know me first through an in-depth questionnaire so she could tailor the plan to me. This was great because I’m a picky eater and have a crazy schedule.
                </p> 

                <p>I’m two months into the coaching and am seeing great results and feel a million times better. I don’t want to say it’s “easy” to follow because it was hard at first with my old bad lifestyle but she makes it so you still enjoy life. She sends out follow up emails, checks in to see how I'm feeling etc and has a wealth of knowledge. Knowledge that the average person just doesn't have when it comes to that field. I would highly recommend her to handle any nutrition needs.</p>
            </div>
        </div>
    </div>
</section>

<section class="pricing" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg')">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Pricing</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-8 col-md-offset-2">
                <div class="pricing-item">
                    <h3>Nutrition Planning</h3>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>99</span> / monthly </div>
                    <ul class="list-group">
                        <li class="list-group-item">45min Monthly Consultation</li>
                        <li class="list-group-item">Food Log Review</li>
                        <li class="list-group-item">Homework Assignments</li>
                        <li class="list-group-item">InBody Scan</li>
                        <li class="list-group-item">Personalized Plan</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>