<% content_for :head_top do %>
    <title>Personal Training</title>
    <meta name="description" content="Learn more about our personal training plans.  If you've got a goal you want to hit, personal training is the best way to achieve it.">
<% end %>

<header style="background-image: url('https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/ebook-bg-min.jpg');">
    <div class="intro-content">
        <h1 class="brand-name">Personal Training<h1>
        <hr class="colored">
        <div class="brand-name-intro">We're with you at every step</div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Why Personal Training</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
        	<div class="col-lg-12" style="">
                <div class="content">
                    <p>
                    Personal training has been a staple of the fitness industry simply because it works.  If you struggle with accountability or need help with mastering technique, personal training is the route for you.

                    As a personal training athlete, you can expect the undivided attention of a coach as he or she guides you through a workout plan that is tailored to achieve your specific goals.  We measure everything, so there is no guessing at whether or not you're getting the results you desire.
                    </p>

                    <div class="row content-row text-center">
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>No Sweat Intro</h3>
                                <p>Schedule a no sweat intro with a coach to discuss your goals, prior training, any injuries, availability and answer any of your questions.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-address-card fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Assessment</h3>
                                <p>We combine body composition measurements, a movement screen and a physical assessment to determine your strengths and weaknesses and intial starting point. </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-pencil-square-o fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Program Design</h3>
                                <p>Based off the initial testing, we build a custom workout program. Everything is tracked and measured so we know empirically how you are progressing towards your goals.</p>
                            </div>
                        </div>
                    </div>   
                </div>
        	</div>
        </div>
    </div>
</section>


<section class="cta-form bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Stephanie's Success Story</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="https://cftaskforce.files.wordpress.com/2017/11/steph-headshot.jpg" class="img-responsive img-centered" alt="personal training success story">
            </div>
            <div class="col-md-8">
                <p>In my past experiences with personal trainers - and I've had at least five over 25+ years of exercising regularly - the best ones showed up on time and were likable people who provided me with a challenging workout.
                </p>

                <p>I never realized that this was a pretty low bar to set until working with Michael Verdi recently for a six week personal training session.</p>

                <p>I decided to move to personal training at Cigar City for the same reasons I have in the past: I was stuck in an exercise rut, and had goals I wasn't sure how to achieve on my own.</p>

                <p>Michael immediately differentiated himself from all my former trainers because he started with a lengthy consult where he really listened to my goals, and planned my program around them. He also took nutrition very seriously, and held me accountable to my dietary needs as part of reaching my larger goal. Michael is an immensely likable and funny guy, and I enjoyed chatting with him between sets.</p>

                <p>But more importantly, he pushed me past what I thought I would ever be able to achieve with a barbell, and he did it knowledgeably and safely. Michael is an exercise science geek and brings a wealth of education and experience with him in programming workouts, but he's able to explain that science in a way that makes sense for us humanities majors. If you find yourself at all frustrated in achieving your fitness goals and want to see progress, I recommend you talk to Michael and get on board with the personal training. It is worth every penny.
                </p>
                

                <p><i>*Disclaimer: Results may vary for each client</i></p>
            </div>
        </div>
    </div>
</section>

<section class="pricing" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg')">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Pricing</h2>
                <hr class="colored">
                <p>All sessions are available in 30 or 60 minute blocks</p>
                <p>60min = $70 per hr / 30min = $40</p>
                <p>Discount available for 12 and 18 pack purchases</p>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-4">
                <div class="pricing-item featured-first">
                    <h3>8 Session Pack</h3>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>320</span> / 30 min</div>
                    <div class="price"><span class="number"><sup>$</sup>560</span> / 60 min</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-item featured">
                    <h3>18 Session Package</h3>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>650</span> / 30 min</div>
                    <div class="price"><span class="number"><sup>$</sup>1,150</span> / 60 min</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-item featured-last">
                    <h3>12 Session Package</h3>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>460</span> / 30 min</div>
                    <div class="price"><span class="number"><sup>$</sup>800</span> / 60 min</div>
                </div>
            </div>
        </div>
    </div>
</section>