<% content_for :head_top do %>
    <title>Personal Training</title>
    <meta name="description" content="Work one on one with a coach following a workout plan built specifically for your goals.">
<% end %>

<header style="background-image: url('https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/ebook-bg-min.jpg');">
    <div class="intro-content">
        <div class="brand-name">Personal Training<div>
        <hr class="colored">
        <div class="brand-name-intro">We're with you at every step</div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>What You Get</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
        	<div class="col-lg-12" style="">
                <div class="content">
                    <p>
                    Personal training has been a staple of the fitness industry simply because it works.  If you struggle with accountability or need help with mastering technique, personal training is the route for you.

                    As a personal training athlete, you can expect the undivided attention of a coach as he or she guides you through a workout plan that is tailored to achieve your specific goals.  We measure everything, so there is no guessing at whether or not you're getting the results you desire.
                    </p>

                    <div class="row content-row text-center">
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Initial Consultation</h3>
                                <p>Schedule a 1on1 check-in with a coach to discuss your goals, prior training, any injuries, availability and answer any of your questions.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-address-card fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Assessment</h3>
                                <p>We combine body composition measurements, a movement screen and a physical assessment to determine your strengths and weaknesses and intial starting point. </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <i class="fa fa-pencil-square-o fa-4x" aria-hidden="true"></i>
                            <div class="about-content">
                                <h3>Program Design</h3>
                                <p>Based off the initial testing, we build a custom workout program. Everything is tracked and measured so we know empirically how you are progressing towards your goals.</p>
                            </div>
                        </div>
                    </div>   
                </div>
        	</div>
        </div>
    </div>
</section>


<section class="cta-form bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Sarah's Success Story</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/sarah-profile.png" class="img-responsive img-centered">
            </div>
            <div class="col-md-8">
                <p>I finally made the decision to train with Cigar City CrossFit after years of falling on and off the fitness train. I had been training at LA Fitness consistently for many months until I got to this point where I was stuck! I felt like I tried everything, but I couldn't lose the weight I wanted. My girlfriend invited me to one of the free workouts on Saturday. I loved the gym vibe, but wanted a program just for me.</p>

                <p>I trained 3x per week for three months.  <strong>I lost weight, quit smoking cigarettes and started eating better (read - less drinking more veggies).</strong>  Quitting smoking was a HUGE deal for me and I'm so happy Michael kept hammering away on me to quit.  I couldn't be happier with my results in the short time I was there.  I just wish I had knew about you all sooner!</p>

                <p><i>*Disclaimer: Results may vary for each client</i></p>
            </div>
        </div>
    </div>
</section>

<section class="pricing" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg')">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Pricing</h2>
                <hr class="colored">
                <p>All sessions are available in 30 or 60 minute blocks</p>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-4">
                <div class="pricing-item featured-first">
                    <h3>Single Session</h3>
                    <p>Ideal for Technique Work</p>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>60</span></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-item featured">
                    <h3>12 Session Package</h3>
                    <p>Ideal for training 3x per week</p>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>54</span></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-item featured-last">
                    <h3>8 Session Package</h3>
                    <p>Ideal for training 2x per week</p>
                    <hr class="colored">
                    <div class="price"><span class="number"><sup>$</sup>57</span></div>
                </div>
            </div>
        </div>
    </div>
</section>