<% content_for :head_top do %>
    <title>Specialty Courses</title>
    <meta name="description" content="Six week long courses designed to work on weightlifting, gymnastics or endurance with the goal of making a better overall athlete.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/specialty-bg-min.jpg?w=1000');">
    <div class="intro-content">
        <h1 class="brand-name">Specialty Courses<h1>
        <hr class="colored">
        <div class="brand-name-intro">Crush your weaknesses</div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>The Deets</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-4">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/three-headed-dog-min.jpg">
            </div>
            <div class="col-lg-8">
                <div class="content">
                    <p>
                        CrossFit is often called the three headed monster.  You've got to be strong, skilled and enduring. Our group programming is designed to give you touches on each of these elements, however, if you want to make improvements faster, you need to focus on your weaknesses. We've designed three speciality courses that do just that.
                    </p>
                    <p>
                        Each course is designed to work around group training so you can still participate in regular CrossFit classes. The courses will rotate evenly and we anticipate running each course three times a year. Be on the lookout so you can book your spot, spaces are limited.
                    </p>

                    <h4 style="margin-top:25px;">Additional Details</h4>
                    <ul class="speciality-course-details">
                        <li><span class="text-primary">Duration:</span> 6 Weeks Long</li>
                        <li><span class="text-primary">Cost:</span> $119</li>
                        <li><span class="text-primary">Class Size:</span> 10 Person Max</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray">
    <div class="container">    
        <div class="row content-row">
            <div class="col-md-4 col-sm-6">
                <div class="text-center">
                <img src="<%= asset_path('weightlifting-course.svg') %>" style="height:140px" alt="weightlifting icon">
                <h3>Olympic Lifting</h3>
                </div>
                <div class="about-content">
                    <p>This course is all about improving your 1RM Snatch and Clean and Jerk.  The olympic lifts are very technical and much time will be spent breaking down each movement, to include video analysis.  This course is designed for both beginners and intermediates.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-center">
                <img src="<%= asset_path('gymnastics-course.svg') %>" style="height:140px" alt="gymnastics icon">
                <h3>Gymnastics</h3>
                </div>
                <div class="about-content">
                    <p>This course will focus on building bodyweight strength as well as working multiple progressions for pull-ups, muscle-ups, handstand walks and handstand push-ups.  It's designed for all levels.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-center">
                <img src="<%= asset_path('endurance-course.svg') %>" style="height:140px" alt="endurance icon">
                <h3>Endurance</h3>
                </div>
                <div class="about-content">
                    <p>Endurance plays an important role in building an overall fit athlete. This course will focus on improving your overall aerobic capacity while improving your running technique. If you find yourself getting tired quickly during metcons or having pain while running, this course is for you. </p>
                </div>
            </div>

        </div>   
    </div>
</section>
