<h1>Listing WODs</h1>

<% wod_dates = @wods.map(&:publish_on) %>
<%= month_calendar(attribute: :publish_on, events: @wods) do |date, wods| %>
  <%= date.day %>

  <% if wod_dates.exclude?(date) %>
    <div>
      <%= link_to "Add WOD", new_admin_wod_path(date: date) %>
    </div>
  <% end %>

  <% wods.each do |wod| %>
    <div>
      <%= link_to wod.name, admin_wod_path(wod) %>
    </div>
  <% end %>    
  
<% end %>