<div class="item">
    <div class="row">
        <div class="col-lg-12">
            <p class="lead">"Coach Verdi knows where your limits are"</p>
            <hr class="colored">
            <p class="quote">I've worked out with Coach Verdi for many years now. His workouts are always fun and challenging. Best part about his approach is that he has no ego or bravado. He's there to support and push you.  That's it.</p>
            <div class="testimonial-info">
                <div class="testimonial-img">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/brayden.jpg" class="img-circle img-responsive" alt="">
                </div>
                <div class="testimonial-author">
                    <span class="name">Brayden Cleary</span>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>