<div class="item">
    <div class="row">
        <div class="col-lg-12">
            <p class="lead">"Working alongside Coach Benjamin Bunn stands as one of my greatest athlete experiences"</p>
            <hr class="colored">
            <p class="quote">Ben, or "Bunny" as we fondly call him, has a passion to increase the quality of people's life through fitness that is both sincere and unmatched. His strong belief and understanding in the power of functional fitness combined with a supportive community is nothing short of inspiring.</p>
            <div class="testimonial-info">
                <div class="testimonial-img">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/eileen.jpg" class="img-circle img-responsive" alt="">
                </div>
                <div class="testimonial-author">
                    <span class="name">Eileen Pallotta</span>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




