<div class="item">
    <div class="row">
        <div class="col-lg-12">
            <p class="lead">"Seriously, the best part of my day"</p>
            <hr class="colored">
            <p class="quote">When taking one of Bunny's classes, you will not only be properly educated and prepared, but also motivated and pushed in the appropriate capacity to achieve both physical and mental personal records... all while being entertained in a fun and positive environment.
            </p>
            <div class="testimonial-info">
                <div class="testimonial-img">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/meghan.jpg" class="img-circle img-responsive" alt="">
                </div>
                <div class="testimonial-author">
                    <span class="name">Meghan LeLan</span>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>