<div class="item">
    <div class="row">
        <div class="col-lg-12">
            <p class="lead">"One Heck of a facility"</p>
            <hr class="colored">
            <p class="quote">The facility Michael and Ben have put together is truly impressive. I've seen many CrossFit boxes in my time and this one takes it hands down. Top notch equipment, showers and even an athlete lounge to hangout before and after classes.  You have to come in and check the place out.</p>
            <div class="testimonial-info">
                <div class="testimonial-img">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/1d95601.jpg" class="img-circle img-responsive" alt="">
                </div>
                <div class="testimonial-author">
                    <span class="name">Nick Chmura</span>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
