<a href="<%=get_started_path%>" class="btn btn-block btn-full-width" id="footer-signup">Book Your Consult Now</a>
<footer class="footer" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/footer-bg-min1.jpg')">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3 contact-details">
                <h4><i class="fa fa-link"></i> Common Links</h4>
                <p><a href="/refer-a-friend">Refer a Friend</a></p>
                <p><a href="/get-started">Book a Free Trial</a></p>
            </div>
            <div class="col-md-3 contact-details">
                <h4>Contact Us</h4>
                <p><a href="tel:4437973663">(813) 559-0129</a></p>
                <p><a href="mailto:info@cigarcitycrossfit.com">info@cigarcitycrossfit.com</a>
                </p>
                <p>1703 N 24th ST
                <br>Tampa, FL 33605</p>
            </div>
            <div class="col-md-3 contact-details">
                <h4>CrossFit Resources</h4>
                <div>
                    <a href="https://journal.crossfit.com/start.tpl?version=CFJ-white123x63" target="_blank" title="CrossFit Journal: The Performance-Based Lifestyle Resource"><img src="http://journal.crossfit.com/templates/images/white-125x63.png" width="125px" height="63px" alt="CrossFit Journal: The Performance-Based Lifestyle Resource" /></a>
                </div>
                <div style="margin-top:10px">
                    <a href="http://crossfit.com" target="_blank" title="CrossFit Main Site"><img src="http://crossfitisi.com/wp-content/uploads/2015/05/CrossFit-Logo-transparent.png" width="125px" height="63px" alt="CrossFit Main Site"/></a>
                </div>
                <div style="margin-top:10px">
                    <a href="opexfit.com" target="_blank" title="Opex Fitness"><img src="https://cftaskforce.files.wordpress.com/2016/01/opex-cert.png" width="140px" height="80px" alt="Opex Fitness"/></a>
                </div>
            </div>
            <div class="col-md-3 contact-details">
                <h4>Learn how to be a better athlete</h4>
                <div>
                    <a href="/ebook-library" title="Ebook Library"><img src="https://cftaskforce.files.wordpress.com/2016/01/ebook-stack.png" width="190px" height="200px" alt="CrossFit Journal: The Performance-Based Lifestyle Resource" /></a>
                </div>
                <a href="/ebook-library" class="btn btn-primary" style="margin-top:25px;color:white;margin-left:20px">Download Now</a>
            </div>
        </div>
        <div class="row social">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/cigarcitycrossfit/" target="_blank"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                    </li>
                    <li><a href="https://twitter.com/CigarCityCF" target="_blank"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/cigarcitycrossfit/" target="_blank"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-lg-12">
                <p class="small">&copy; <%=Date.today.year%> Cigar City CrossFit | 
                    <%= link_to "sitemap", sitemap_path %>    
                </p>
            </div>
        </div>
    </div>
</footer>