<a href="#" class="btn btn-block btn-full-width">Become a Founding Member Now!</a>
<footer class="footer" style="background-image: url('http://sailawaypictures.imgix.net/crossfit.jpg')">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 contact-details">
                <h4><i class="fa fa-phone"></i> Call</h4>
                <p>555-213-4567</p>

                <div>
                    <a href="https://journal.crossfit.com/start.tpl?version=CFJ-white123x63" target="_blank" title="CrossFit Journal: The Performance-Based Lifestyle Resource"><img src="http://journal.crossfit.com/templates/images/white-125x63.png" width="125px" height="63px" alt="CrossFit Journal: The Performance-Based Lifestyle Resource" /></a>
                </div>
            </div>
            <div class="col-md-4 contact-details">
                <h4><i class="fa fa-map-marker"></i> Visit</h4>
                <p>1016 E Cass ST
                    <br>Tampa, FL 33602</p>
            </div>
            <div class="col-md-4 contact-details">
                <h4><i class="fa fa-envelope"></i> Email</h4>
                <p><a href="mailto:info@cftaskforce.com">info@cftaskforce.com</a>
                </p>
            </div>
        </div>
        <div class="row social">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-lg-12">
                <p class="small">&copy; <%=Date.today.year%> CrossFit Task Force</p>
            </div>
        </div>
    </div>
</footer>