<form name="insightly_web_to_lead" action="https://cigarcitycrossfit.insight.ly/WebToLead/Create" method="post" id="lead-form">
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="insightly_firstName">First Name</label>
            <input type="text" name="FirstName" class="form-control" maxlength="25" placeholder="First Name" id="insightly_FirstName" required data-required> 
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="insightly_lastName">Last Name</label>
            <input type="text" name="LastName" class="form-control" maxlength="25" placeholder="Last Name" id="insightly_LastName" required data-required> 
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" maxlength="250" placeholder="Email Address" id="insightly_Email" required data-required>   
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="phone">Phone Number</label>
            <input type="tel" name="phone" class="form-control" maxlength="20" placeholder="Phone Number" id="insightly_Phone" required>
        </div>
    </div>
    <div class="row control-group" style="margin-top:20px">
        <div class="form-group col-xs-12">
            <p>How Did You Hear About Us</p>
            <select name="LeadSource" id="insightly_LeadSource">
                <option value="">--select--</option>
                <option value="1024413">Friend/Family</option>
                <option value="1023907">Facebook</option>
                <option value="1023904">Google/Search Engine</option>
                <option value="1023905">Yelp</option>
                <option value="1023908">Print Sign or Sticker</option>
                <option value="1023906">Passing By</option>
                <option value="1024414">Other</option>
            </select>
        </div>
    </div>
    <input type="hidden" name="formId" value="pUJaSYnWx1RYcnjN1lJOkg=="/>
    <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1122654"/>
    <div class="row control-group" style="margin-top:20px">
        <%= submit_tag "Book Free Trial", class: "btn btn-primary btn-block" %>
    </div>
</form>