<% wodify_redirect_url = Rails.env.production? ? "http://cigarcitycrossfit.com?gainz=true" : "http://localhost:3000?gainz=true" %>
<script type='text/javascript'>
if(!document.getElementById('recaptcha')){var script=document.createElement('script');script.id='recaptcha';script.src='https://www.google.com/recaptcha/api.js';document.head.appendChild(script);}
var validationUrl='//app.wodify.com/API/WebToLeadFormPostEntry_v1.aspx?ResponseField=';var reCaptchaValidated=false;function callbackFunc(data){document.getElementById('recaptcha_response_field').value=data;validationUrl+=data;if(data){reCaptchaValidated=true;}}
function validateWodifyLeadForm()
{
var reEmail = /^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$/;
var returnValue = true;var fieldname=document.forms['wodifyLeadForm']['name'].value;if(fieldname==null||fieldname=='')
{document.getElementById('errorname').style.display='inline';returnValue=false;}
else
{document.getElementById('errorname').style.display='none';}
var fieldemail=document.forms['wodifyLeadForm']['email'].value;if(fieldemail==null||fieldemail==''||!reEmail.test(fieldemail))
{document.getElementById('erroremail').style.display='inline';returnValue=false;}
else
{document.getElementById('erroremail').style.display='none';}if(!reCaptchaValidated){document.getElementById('errorCAPTCHA').style.display='inline';return false;}return returnValue;
};
</script>

<form action="https://app.wodify.com/API/WebToLeadFormPostEntry_v1.aspx?" accept-charset="UTF-8" method="POST" id="wodifyLeadForm" name="wodifyLeadForm">
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" maxlength="50" placeholder="Name" id="name" required data-required> 
            <span id="errorname" name="errorname" style="display: none; color: #cc2626;"> Required field!</span>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" maxlength="250" placeholder="Email Address" id="email" required data-required>
    				<span id="erroremail" name="erroremail" style="display: none; color: #cc2626;"> Required field!</span>        
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="phone">Phone Number</label>
            <input type="tel" name="phone" class="form-control" maxlength="20" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12">
        		<p style="margin-top:30px;"><input type="checkbox" id="subscribe" name="subscribe" value="True" checked/><label for="subscribe" style="font-weight:300"><span class="ui"></span>May We Text You?</label></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12">
            <p>How Did You Hear About Us</p>
            <select name="leadsource" id="leadsource">
                <option value="">--select--</option>
                <option value="Friend/Family">Friend/Family</option>
                <option value="Facebook">Facebook</option>
                <option value="Google/Search Engine">Google/Search Engine</option>
                <option value="Yelp">Yelp</option>
                <option value="Print Sign or Sticker">Print Sign or Sticker</option>
                <option value="SMS">SMS</option>
                <option value="Online Sales">Online Sales</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12">
            <div class='g-recaptcha' data-sitekey='6LekBx4TAAAAAAZFusHzV5k1emif0xTEnDUuQ2MI' data-callback='callbackFunc'></div>        
        </div>
    </div>
    <input type='hidden' id='recaptcha_response_field' name='recaptcha_response_field' value='manual_challenge' style='margin-top:20px;'><span id="errorCAPTCHA" name="errorCAPTCHA" style="display: none; color: #cc2626;"> Invalid reCAPTCHA!</span><input type="hidden" id="usecaptcha" name="usecaptcha" value="true"></input>
    <br />
    <input type="hidden" name="redirecturl" value="<%=wodify_redirect_url%>">
    <input type="hidden" name="apikey" value="bky4hg7wxe">

    <div class="row">
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-outline-dark btn-block">Send</button>
        </div>
    </div>
</form>