<div class="leads-show-page">
	<div class="container">
	    <div class="row">
	    		<div class="col-lg-12">
	    			<div class="header-info">
		        		<h2><%= @lead.first_name %>, You're One Step Away...</h2>
		            <div class="col-md-4">
		                <img src="https://cftaskforce.files.wordpress.com/2017/11/coach-mike-signup-finished-tur.jpg" style="margin-left:-30px"></a>
		            </div>
		            <div class="col-md-8">
		                <div class="coach-text">
		                    <h3>Hi, I'm Coach Verdi</h3>
		                    <p>We're so close to helping you reach your dream body.</p>
		                    <p>Fill in your information below to schedule an in person meeting with me.  We'll just be talking about the challenge — no working out quite yet.</p>
		                    <p>The meeting will only take 15 minutes. Try to book a spot within the next 1-2 days as we only can take a limited number of clients.</p>
		                </div>
		            </div>
	          </div>
	            

	            <iframe src="https://app.acuityscheduling.com/schedule.php?owner=15622888" width="100%" height="800" frameBorder="0"></iframe><script src="https://d3gxy7nm8y4yjr.cloudfront.net/js/embed.js" type="text/javascript"></script>
	        </div>
	        <div class="close-btn">
	        		<%= link_to "Click Here After Booking", thank_you_path, class: "btn btn-lg btn-primary"%>
	        </div>
	    </div>
	</div>	
	
</div>