<% content_for :head_top do %>
    <title>Cigar City CrossFit Blog Category Page</title>
    <meta name="description" content="See all the available categories we have listed on our blog.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg');">
    <div class="intro-content">
        <h1 class="brand-name"><%= @category.name %></h1>
        <hr class="colored">
        <div class="brand-name-intro">Recent Posts<div>
    </div>
</header>

<section>
	<div class="container">
	  <% @category.recent_posts.each do |post| %>
	    <div><%= render :partial => 'buttercms/posts/post', :locals => {:post => post} %></div>
	  <% end %>
	</div>
</section>

