<div class="full-screen-schedule">
  <div class="table-responsive">
    <table class="schedule table">
      <thead>
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
      </thead>

      <tbody>
        <tr>
            <td class="cf">CrossFit<p>6:30am-7:30am</p></td>
            <td class="cf">CrossFit<p>6:30am-7:30am</p></td>
            <td class="cf">CrossFit<p>6:30am-7:30am</p></td>
            <td class="cf">CrossFit<p>6:30am-7:30am</p></td>
            <td class="cf">CrossFit<p>6:30am-7:30am</p></td>
            <td class="cf">CrossFit (Bring a Friend)<p>10:00am-11:30am</p></td>
            <td>Closed</td>
        </tr>
        <tr>
            <td class="cf">CrossFit<p>12:00pm-1:00pm</p></td>
            <td class="cf">CrossFit<p>12:00pm-1:00pm</p></td>
            <td class="cf">CrossFit<p>12:00pm-1:00pm</p></td>
            <td class="cf">CrossFit<p>12:00pm-1:00pm</p></td>
            <td class="cf">CrossFit<p>12:00pm-1:00pm</p></td>
        </tr>
        <tr>
            <td class="og">Open Gym<p>4:30pm-5:30pm</p></td>
            <td class="og">Open Gym<p>4:30pm-5:30pm</p></td>
            <td class="og">Open Gym<p>4:30pm-5:30pm</p></td>
            <td class="og">Open Gym<p>4:30pm-5:30pm</p></td>
            <td class="og">Open Gym<p>4:30pm-5:30pm</p></td>
        </tr>
        <tr>
            <td class="cf">CrossFit<p>5:30pm-6:30pm</p></td>
            <td class="cf">CrossFit<p>5:30pm-6:30pm</p></td>
            <td class="cf">CrossFit<p>5:30pm-6:30pm</p></td>
            <td class="cf">CrossFit<p>5:30pm-6:30pm</p></td>
            <td class="cf">CrossFit<p>5:30pm-6:30pm</p></td>
        </tr>
        <tr>
            <td class="cf">CrossFit<p>6:30pm-7:30pm</p></td>
            <td class="cf">CrossFit<p>6:30pm-7:30pm</p></td>
            <td class="cf">CrossFit<p>6:30pm-7:30pm</p></td>
            <td class="cf">CrossFit<p>6:30pm-7:30pm</p></td>
            <td class="cf">CrossFit<p>6:30pm-7:30pm</p></td>
        </tr>
        <tr>
            <td class="ca">CrossFit Academy<p>6:30pm-8:00pm</p></td>
            <td></td>
            <td class="ca">CrossFit Academy<p>6:30pm-8:00pm</p></td>
            <td></td>
            <td class="ca">CrossFit Academy<p>6:30pm-8:00pm</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>