<div class="portfolio-modal modal fade" id="profileModal-<%=coach.id%>" tabindex="-1" role="dialog" style="background:gray" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <img src="<%= coach.images[0].url %>" class="img-responsive img-centered" alt="">
                        <h2><%= coach.name %></h2>
                        <hr class="colored">
                        <p><%= coach.description %></p>
                    </div>
                    <!-- <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://hayli2goode.com/wp-content/uploads/2015/09/gabriel-grobben-crossfit-06.jpg" class="img-responsive img-centered" alt="">
                            </div>
                            <div class="col-md-4">
                                <img src="http://hayli2goode.com/wp-content/uploads/2015/09/gabriel-grobben-crossfit-06.jpg" class="img-responsive img-centered" alt="">
                            </div>
                            <div class="col-md-4">
                                <img src="http://hayli2goode.com/wp-content/uploads/2015/09/gabriel-grobben-crossfit-06.jpg" class="img-responsive img-centered" alt="">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>