<div class="small-screen-schedule">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Monday
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table class="schedule table">
            <tbody>
              <tr>
                <td class="cf">CrossFit<p>6:30am-7:30am</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>12pm-1:00pm</p></td>
              </tr>
              <tr>
                <td class="og">Open Gym<p>4:30pm-5:30pm</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>5:30pm-6:30pm</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>6:30pm-7:30pm</p></td>
              </tr>
              <tr>
                <td class="ca">CrossFit Academy<p>6:00pm-8:00pm</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Tuesday
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <table class="schedule table">
            <tbody>
              <tr>
                <td class="cf">CrossFit<p>6:30am-7:30am</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>12pm-1:00pm</p></td>
              </tr>
              <tr>
                <td class="og">Open Gym<p>4:30pm-5:30pm</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>5:30pm-6:30pm</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>6:30pm-7:30pm</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Wednesday
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <table class="schedule table">
            <tbody>
              <tr>
                <td class="cf">CrossFit<p>6:30am-7:30am</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>12pm-1:00pm</p></td>
              </tr>
              <tr>
                <td class="og">Open Gym<p>4:30pm-5:30pm</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>5:30pm-6:30pm</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>6:30pm-7:30pm</p></td>
              </tr>
              <tr>
                <td class="ca">CrossFit Academy<p>6:30pm-8:00pm</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Thursday
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          <table class="schedule table">
            <tbody>
              <tr>
                <td class="cf">CrossFit<p>6:30am-7:30am</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>12pm-1:00pm</p></td>
              </tr>
              <tr>
                <td class="og">Open Gym<p>4:30pm-5:30pm</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>5:30pm-6:30pm</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>6:30pm-7:30pm</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Friday
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          <table class="schedule table">
            <tbody>
              <tr>
                <td class="cf">CrossFit<p>6:30am-7:30am</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>12pm-1:00pm</p></td>
              </tr>
              <tr>
                <td class="og">Open Gym<p>4:30pm-5:30pm</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>5:30pm-6:30pm</p></td>
              </tr>
              <tr>
                <td class="cf">CrossFit<p>6:30pm-7:30pm</p></td>
              </tr>
              <tr>
                <td class="ca">CrossFit Academy<p>6:30pm-8:00pm</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>    
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSix">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Saturday
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
        <div class="panel-body">
          <table class="schedule table">
            <tbody>
              <tr>
                <td class="cf">CrossFit (Bring a Friend)<p>10:00am-11:30am</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSeven">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            Sunday
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
        <div class="panel-body">
          <table class="schedule table">
            <tbody>
              <tr>
                <td>Closed</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>