<div class="portfolio-modal modal fade" id="thank-you-modal" tabindex="-1" role="dialog" style="background:gray" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>You're request has been received!</h2>
                        <h3>The gainz are coming...</h3>
                        <%=image_tag "https://media.giphy.com/media/iPTTjEt19igne/giphy.gif"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>