<% content_for :head_top do %>
    <title>Check-Ins For Charity</title>
    <meta name="description" content="Every facebook checkin using the hashtags #checkinforcharity and #c4h during the month of November will raise $1 for the charity Companions for Hero.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/checkin-for-charity-splash-page.jpg');">
    <div class="intro-content">
    	<div class="brand-name small">#checkinforcharity</div>
      <hr class="colored">
      <div class="brand-name-intro">Raising money for Companions for Heroes<div>
    </div>
</header>

<section>
	<div class="container">
		<div class="row text-center">
	    <div class="col-lg-8 col-lg-offset-2">
	    	<h2>Checkins Leaderboard</h2>
	      <p>The below organizations have all agreed to donate $1 for every Facebook checkin during November that uses the hashtags #checkinsforcharity and #c4h.</p>
	      <hr class="colored">
	    </div>
		</div>

		<div class="row content-row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="progress-bar-wrapper">
					<h3 class="text-center">Goal Amount: $6,000</h3>
					<div class="progress">
				  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="500" aria-valuemin="0" aria-valuemax="10000" style="width: 10%">
				    <span>$14</span>
				  	</div>
				  </div>
				</div>
			</div>

			<div class="row content-row text-center">
				<div class="col-lg-4">
					<h3>5 Checkins</h3>
					<img src="https://cftaskforce.files.wordpress.com/2016/01/crossfit-sticker-5x5-1.png" class="img img-responsive img-centered" alt="Cigar City CrossFit Logo" style="width:150px">
				</div>
				<div class="col-lg-4">
					<h3>3 Checkins</h3>
					<img src="https://d342jfhztpgus0.cloudfront.net/images/328/328913/71sh_643-204x150-r.png" class="img img-responsive img-centered">
				</div>
				<div class="col-lg-4">
					<h3>2 Checkins</h3>
					<img src="http://static1.squarespace.com/static/570eacc1f8baf3adef7a5fa0/t/57362f57c2ea512278c2e1a9/1476122853678/?format=1500w" class="img img-responsive img-centered" style="width:300px">
				</div>
			</div>

			<div class="row content-row text-center">
				<div class="col-lg-4">
					<h3>1 Checkins</h3>
					<img src="http://96bda424cfcc34d9dd1a-0a7f10f87519dba22d2dbc6233a731e5.r41.cf2.rackcdn.com/mantrafitness/logo.png" class="img img-responsive img-centered">
				</div>
				<div class="col-lg-4">
					<h3>1 Checkins</h3>
					<img src="https://static1.squarespace.com/static/5492e417e4b02631b5962a60/t/56be49b91bbee0482cf674c8/1455311295878/" class="img img-responsive img-centered">
				</div>
				<div class="col-lg-4">
					<h3>2 Checkins</h3>
					<img src="https://d1zoh1vn9j9xjp.cloudfront.net/images/logo/otf-main-mobilev2.png" class="img img-responsive img-centered">
				</div>
			</div>
				
		</div>
	</div>
</section>