<% content_for :head_top do %>
    <title>Cigar City CrossFit Corporate Wellness</title>
    <meta name="description" content="Providing fitness and nutritional education to businesses and their employees.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2017/11/nutrition-challenge-bg-min.jpg');">
    <div class="intro-content">
        <div class="brand-name">Corporate Wellness</div>
        <hr class="colored">
        <div class="brand-name-intro">Fitness and Nutrition Education for Business</div>
    </div>
    
</header>

<section id="about">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Keeping Your Employees Fit and Happy</h2>
                <hr class="colored">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <img src="https://cftaskforce.files.wordpress.com/2017/11/tired-at-work.jpg" width="500">
            </div>
            <div class="col-lg-6 col-sm-6">
                <p>
                    Looking for a fun and educational way to jumpstart you and your team's overall health? Look no further than Cigar City CrossFit, located in downtown Ybor.  We offer both nutrition training and group CrossFit classes tailored for business teams.  Our events are a great team building opportunity that are fun, cost effective and empowering.
                </p>

                <p>
                    If you or your team have ever struggled to keep your productivity up after lunch or if you're looking for a team outing that doesn't center around gluttony or alcohol then our on-site nutrition seminar or group training is perfect for you.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>What We Offer</h2>
                <hr class="colored">
            </div>
        </div>

        <div class="row content-row">
            <div class="col-md-6 col-sm-6">
                <div class="text-center">
                <img src="<%= asset_path('blender.svg') %>" style="height:140px" alt="clipboard icon">
                <h3>Nutrition Seminar</h3>
                </div>
                <div class="about-content">
                    <p>We come to your office for a 60 minute nutrition seminar that focuses on the fundamentals of fat gain and which foods to eat that promote health and leaness. We offer tips for meal planning, getting through the post lunch slump and improving your mental clarity and productivity.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="text-center">
                <img src="<%= asset_path('dumbbell.svg') %>" style="height:140px" alt="tape measure icon">
                <h3>Group Training Session</h3>
                </div>
                <div class="about-content">
                    <p>Looking for a great team bonding activity? Look no further than a 60 minute group CrossFit class exclusively for your business.  It's beginner focused and prioritizes safety and technique first.  Led by an experienced CrossFit coach, you and your team will sweat together while laughing and cheering each other on.</p>
                </div>
            </div>
        </div>   
    </div>
</section>

<aside class="cta-quote" style="background-image: url('http://blog.wellnessfx.com/wp-content/uploads/2011/10/We-are-what-we-repeatedly-do..png');">
</aside>

<section class="bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Who We Are</h2>
                <hr class="colored">
            </div>
        </div>

        <div class="row content-row">
            <div class="col-md-6 text-center">
                <div class="youtube" data-embed="qL8PZZ8pwyA"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Coach Bunny</h3>
            </div>
            <div class="col-md-6 text-center">
                <div class="youtube" data-embed="aqD-J_KRkNw"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Coach Mike</h3>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Let's Get Started</h2>
                <hr class="colored">
            </div>
        </div>

        <div class="row content-row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p style="size:30px; font-weight: bolder">Whether you're looking for a fun outing event or a way to add value to your team, Cigar City CrossFit can help!</p>
                <a href="#" class="btn btn-lg btn-primary apply-btn">
                    Email Us: info@cigarcitycrossfit.com
                </a>
                <a href="#" class="btn btn-lg btn-primary apply-btn">
                    Call: 813-559-0129
                </a>
            </div>
        </div>
    </div>
</section>
