<a href="/">
    <img src="<%=asset_path('logos/black-trans.png')%>" class="top-left-logo" alt="Cigar City CrossFit Logo">
</a>

<div class="container">
	<div class="row text-center">
		<div class="col-lg-12">
		<h2>Athlete Drop In</h2>
		<hr class="colored">
		<p>Thanks for joining us! Let's get to know each other a bit better</p>
	</div>

	<div class="row content-row text-center">
		<div class="col-lg-8 col-lg-offset-2">
			<%= render partial: "pages/zenplanner_forms/drop_in_athlete" %>
	  </div>
	</div>

	<%= link_to "Reload Form", "/drop-in", class: "btn btn-primary" %>
</div>
	