<% content_for :head_top do %>
    <title>Frequently Asked Questions</title>
    <meta name="description" content="Frequently asked questions prospective members have about our gym.">
<% end %>


<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/faq-bg-min.png');">
    <div class="intro-content gs">
       	<h2>Frequently Asked Questions</h2>
       	<hr class="colored">
    </div>
</header>

<section class="faq">
	<div class="container">
		<h3>What’s CrossFit?</h3>
		<p>
			CrossFit combines the best parts of weightlifting, gymnastics, plyometrics, and kettlebells.  It's a concurrent strength and conditioning program, which means you get both strong and fit at the same time.  By sticking to the most effective exercises from each, we can do these really efficient workouts in about 30 minutes.  They’re hard, but they have to be.  It takes a couple of years to be really great at CrossFit, but you can be good in a few months.
		</p>
		<h3>What’s the WOD?</h3>
		<p>
			Workout Of the Day. Most of our members do CrossFit and that’s part of the language.
		</p>
		<h3>What happens at a CrossFit group?</h3>
		<p>
			We start with a small warmup.  For instance, a 400m run plus some mobility drills.  Easy stuff. Just enough to get the body warm and ready.  Then we move into either strength or skill development.  For strength, you'll focus on building muscle while maintaining proper form.  With skill days, we work progressions to acheive advanced movements like handstands and muscle-ups (yes, you can).  The ‘meat and potatoes’ of the group, though, is the main WOD, or challenge.  You’ll start as a group; the resulting atmosphere is filled with commraderie and team support.
		</p>
		<h3>Isn't CrossFit dangerous?</h3>
		<p>
			No, CrossFit is not inherently dangerous.  It can be performed by anyone because at its core, it's simply using movements that mimic how your body naturally moves.  Now, injuries can occur when athletes try to push too hard too soon or do movements which they are not ready for.  We protect against that here but having professional coaches that work with you each class and by putting new members through a robust <%= link_to "CrossFit Academy", :crossfit_academy_services, target: "_blank" %> beforehand - ensuring they have the requisite strength and knowledge before entering group classes.
		</p>
		<h3>What machines do you have at your gym?</h3>
		<p>
			We don’t use machines – we make them! (little joke there).  But seriously, you can’t improve human movement – and fitness – without using its full range of capability. We do use a few basic machines like exercise bikes and rowers, but that’s it.
		</p>
		<h3>I do P90X / Insanity / Group Training at GloboGym. Isn’t that the same thing?</h3>
		<p>
			A lot of people use P90X to get ready for CrossFit. But the differences are huge: we don’t split the body up into its component parts, because the whole is far more than their sum. We use technical lifts, which require good coaching but also remove the ceiling effect that boredom creates through repeating the same program forever. We measure our progress objectively – am I faster today? Leaner? Stronger? better? – instead of just going until we feel like we’ve put in enough time.	
		</p>
		<h3>The training sessions look too hard, is CrossFit just for elite athletes?</h3>
		<p>
			One of the great things about CrossFit is that the training can be “scaled” to suit everyone, regardless of their skill or fitness level. Scaling means that the same workout can be adjusted for different individuals by keeping the same format but substituting different exercises, changing the intensity, reducing or increasing the volume (number of reps or rounds), or changing the amount of rest.
		</p>
		<h3>Can I do CrossFit if I don’t know how to do Olympic weightlifting? Lifts like the Clean and Jerk and the Snatch look dangerous?</h3>
		<p>
			CrossFit is for everyone, not just elite athletes that already know how to do Olympic lifting. We say that a lot because it is an important message. Olympic lifts are an important part of CrossFit because they are highly functional complex movements that produce a fantastic training effect. The lifts are safe providing that they are taught and learnt in a progressive and scaled manner, so that the technique is drilled and understood prior to adding any weight. For beginners we use PVC pipes as a substitute for the bar, and only once correct form is consistently demonstrated do we start scaling the weight. This is an effective and safe way to learn Olympic lifting. If you have never done weightlifting before that is OK. We simply scale the CrossFit workout for you and substitute alternative exercises.
		</p>
	</div>
</section>