<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/rope-climb.jpg');">
    <div class="intro-content">
       	<div class="brand-name">your best self</div>
        <hr class="colored">
        <div class="brand-name-intro">begins now<div>
    </div>
</header>

<section>
	<div class="container-fluid">
	    <div class="row text-center">
	        <div class="col-lg-8 col-lg-offset-2">
	            <h2>schedule your personal assessment</h2>
	            <hr class="colored">
	        </div>
	    </div>
	    <div class="row content-row">
	    	<div class="col-lg-6 col-lg-offset-3">
	    		<%= render partial: "shared/wodify_lead_form" %>
	    	</div>
	    </div>
	 </div>
</section>