<% content_for :head_top do %>
    <title>Get Started</title>
    <meta name="description" content="We understand no two athletes are the same. Together we'll create an exercise and nutrition plan that's unique to your goals and budget.">
<% end %>


<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/rope-climb.jpg');">
    <div class="intro-content gs">
       	<h1>We are professional fitness coaches</h1>
       	<p>
       		We understand no two athletes are the same. Together we'll create an exercise and nutrition plan that's unique to your goals and budget.
				</p>
       	<a href="<%=book_your_consult_path%>" class="btn btn-lg btn-primary apply-btn">
       	Your Plan Begins with a no sweat intro
       	<i class="fa fa-arrow-right"></i>
       	</a>
    </div>
</header>


<section>
	<div class="container">
	    <div class="row text-center">
	        <div class="col-lg-12">
	        	<h2>Your Path Forward</h2>
	          <hr class="colored">
            <p>
            	We offer the following coaching services to help you achieve your goals.
            </p>
	        </div>
	        <%= render "service_offerings" %>
	    </div>
	 </div>
</section>
