<% content_for :head_top do %>
    <title>Cigar City CrossFit Grand Opening Page</title>
    <meta name="description" content="Cigar City CrossFit grand opening party is April 2nd. Come get sweaty and enjoy free beer, music and food trucks.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/grand-opening-bg.jpg');">
</header>

<section>
	<div class="container text-center">
		<div class="intro-text">
			<h1>Music. Food. Beer.</h1>
			<h3>Come celebrate the grand opening of Tampa's newest CrossFit gym</h3>
			<h3>Show up to get sweaty and stay after for music, food, free beer and good vibes </h3>
		</div>
	</div>
	<div class="container-fluid text-center" style="margin-top:55px">	
		<h5>just a taste of vendors you can expect</h5>
		<div class="vendors">
			<div class="col-lg-2">
				<img src="https://www.qsrmagazine.com/sites/qsrmagazine.com/files/news-image/fitlife-foods-opens-its-first-south-florida-location.png" id="logo-1" class="img-responsive" alt="vendor-logo">
			</div>
			<div class="col-lg-2">
				<img src="http://www.fergssportsbar.com/wp-content/uploads/brewery-coppertail.jpg" id="logo-2" class="img-responsive" alt="vendor-logo">
			</div>
			<div class="col-lg-2">
				<img src="http://www.beastrotampa.com/images/logos/beastro_header_logo.png?cachev=38" class="img-responsive" alt="vendor-logo">
			</div>
			<div class="col-lg-2">
				<img src="http://i60.tinypic.com/212voyu.png" class="img-responsive" alt="vendor-logo">
			</div><div class="col-lg-2">
				<img src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/11412199_1776496392576782_6413744382371300533_n.jpg?oh=92fb39cbb85fd171f4404243f02ce028&oe=57552868" id="logo-5" class="img-responsive" alt="vendor-logo">
			</div><div class="col-lg-2">
				<img src="http://mediad.publicbroadcasting.net/p/wjct/files/201310/florida_national_guard_logo.jpg" id="logo-6" class="img-responsive" alt="vendor-logo">
			</div>
			<div class="col-lg-6 col-lg-offset-3" id="phone-btn">
				<a href="#phoneModal" data-toggle="modal" class="btn btn-outline-dark">
				    Receive a Text Message Reminder
				</a> 
				<a href= "https://www.facebook.com/events/1100074323389615/permalink/1104380139625700/" target="_blank" class="btn btn-outline-dark">
				    Check Out the Facebook Event
				</a> 
			</div>
		</div>	
	</div>
</section>

<div class="portfolio-modal modal fade" id="phoneModal" tabindex="-1" role="dialog" style="background:gray" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h3>What's Your Phone Number?</h3>
                        <hr class="colored">
                        <p>we'll send you a text message reminder the day before the event.</p>
                        <%= form_tag "/opening_reminder", remote: true do %>
                        	<%= telephone_field_tag "phone_number", id: "phone_number" %>
                        	<%= submit_tag "Remind Me!", class: "btn btn-outline-light"%>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>