<% content_for :head_top do %>
  <title>Membership Hold</title>
  <meta name="description" content="Form to submit membership hold request">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/barbells.jpg');">
  <div class="intro-content">
      <h1 class="brand-name">Membership Hold</h1>
      <hr class="colored">
      <div class="brand-name-intro">Request a Hold<div>
  </div>
</header>

<section>
  <div class="container-fluid">
      <div class="row text-center">
          <div class="col-lg-12">
              <h2>Please Complete the Form</h2>
              <hr class="colored">
          </div>
      </div>
      <div class="row text-center content-row">
          <div class="col-lg-12">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeiG5EXIyxqogFoFwz8CpRZyI9U54UIKB2_J6pW6TAC8wK5zQ/viewform?embedded=true" width="800" height="1047" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
      </div>
  </div>
</section>
