<% content_for :head_top do %>
    <title>Cigar City CrossFit Nutrition Seminar</title>
    <meta name="description" content="Learn an evidence based nutrition framework that will help you get the body you want.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2017/11/nutrition-challenge-bg-min.jpg');">
    <div class="intro-content">
        <div class="brand-name">Nutrition Challenge</div>
        <hr class="colored">
        <div class="brand-name-intro">Starts Saturday, Jan 6th 2018 </div>
    </div>
    
</header>

<section id="about">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Confused on Nutrition?</h2>
                <hr class="colored">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <img src="https://cftaskforce.files.wordpress.com/2017/11/crossfit_pyramide.jpg" height="350" width="350">
            </div>
            <div class="col-lg-8 col-sm-6">
                <p>
                    Depending on who you ask, nutrition is anywhere from 40 to 60 percent of the battle when looking to improve our overall fitnes.  In fact, CrossFit's original hierarchy of development has nutrition as the fundamental pillar. It's no secret to many of us that we need to be eating healthier, but what exactly is healthy?
                </p>

                <p>
                    Depending on what books you read or gurus you listen to you'll quickly come across conflicting view points.  Are carbs bad?  Do calories matter?  Should I worry about saturated fat or cholesterol?
                </p>

                <p>The answer to all these questions and many more is it depends.  In nutrition there is no one size fits all approach.  Going Paleo, Vegan, Keto or Zone makes no difference if you don't have a solid understanding of the fundamentals and context of where you're at personally.  There is a time and a place to focus on eating cleaner, organic vs conventional, macros and supplements but it depends on the individual, their goals and what other factors they are dealing with in their life.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Join the Challenge</h2>
                <hr class="colored">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Are you working your butt off in the gym but not seeing the results you want in the mirror?  Have you stalled in your ability to hit new PRs?  Are you tired of just not knowing what the heck to be eating?
                </p>
                <p>
                    If you answered yes to any of these questions, our 6 Week Nutrition Challenge is built for you.  The challenge includes before and after body composition testing, a three hour educational seminar and a take home nutrition book with homework assignments.
                </p>
            </div>
        </div>

        <div class="row content-row">
            <div class="col-md-4 col-sm-6">
                <div class="text-center">
                <img src="<%= asset_path('clipboard.svg') %>" style="height:140px" alt="clipboard icon">
                <h3>Live Seminar</h3>
                </div>
                <div class="about-content">
                    <p>The kickoff seminar is three hours of nutrition education. We teach you our evidence based framework that will empower you to take charge of your body. This is a completely rebuilt nutrition seminar with tons of new information added. We'll start the seminar off by going over your InBody results and finish with a Q&A session.  You'll leave with a printed copy of our nutrition program booklet.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-center">
                <img src="<%= asset_path('tape-measure.svg') %>" style="height:140px" alt="tape measure icon">
                <h3>2x Inbody Scans</h3>
                </div>
                <div class="about-content">
                    <p>There are no gimmicks here.  We take before and after InBody scans which will show you the change in body fat, lean muscle mass and basal metabolic rate you'll achieve.  Furthermore, the data from the scans will be used in crafting your individualized nutrition plan.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-center">
                <img src="<%= asset_path('medal.svg') %>" style="height:140px" alt="medal icon">
                <h3>6 Week Challenge</h3>
                </div>
                <div class="about-content">
                    <p>Challenges are great for focusing our energies and efforts.  Every week we'll send along helpful tips to help keep you on track.  At the halfway point, you'll receive a food log review from a coach to help upgrade your diet to ensure you're tracking towards your goals.</p>
                </div>
            </div>

        </div>   
    </div>
</section>

<aside class="cta-quote" style="background-image: url('http://blog.wellnessfx.com/wp-content/uploads/2011/10/We-are-what-we-repeatedly-do..png');">
</aside>

<section class="bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Challenge Timeline</h2>
                <hr class="colored">
            </div>
        </div>

        <div class="row content-row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Step One</h3>
                <p>Attend the seminar - Sat, Jan 9th from 9:30am - 12:30pm. Before we begin, you'll complete an InBody scan. You'll leave the seminar with a printed copy of our nutrition program, which further explains many of the topics discussed during the seminar.</p>

                <h3>Step Two</h3>
                <p>Begin reading the nutrition booklet. Each section in the booklet has homework assignments to complete before moving on. Also, create an account with <a href="https://www.myfitnesspal.com/">MyFitnessPal</a>  and begin food logging.</p>

                <h3>Step Three</h3>
                <p>After two weeks of food logging, you'll meet with a coach (either in person or over the phone) to discuss your goals. The coach will provide guidance and create alignment between your lifestyle and diet to help you reach your goals.</p>

                <h3>Step Four</h3>
                <p>Continue to follow your personalized nutrition plan for the next four weeks.  Then on Sat, Feb 17th you'll complete another InBody scan to see the change in body fat and lean muscle mass.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Make the Change</h2>
                <hr class="colored">
            </div>
        </div>

        <div class="row content-row">
            <div class="col-lg-4 col-sm-12">
                <img src="https://cftaskforce.files.wordpress.com/2017/11/mike-flex-2-min.jpg">
            </div>
            <div class="col-lg-4 col-sm-12">
                <img src="https://cftaskforce.files.wordpress.com/2017/11/melissa-flex-2-min.jpg">
            </div>
            <div class="col-lg-4 col-sm-12">
                <img src="https://cftaskforce.files.wordpress.com/2017/11/ben-flex-2-min.jpg">
            </div>
        </div>
    </div>
</section>



<section class="bg-dark" id="seminar-details">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>How To Register</h2>
                <hr class="colored">
                <p>The cost for the 6 Week Challenge is $99</p>
            </div>
        </div>

        <div class="row content-row">
            <div class="col-lg-8 col-lg-offset-2">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfdkTpbj2rLrUn07zyrJkRfFcDBMigP6CLoC6cQuwGW9CiZ_A/viewform?embedded=true" width="760" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>
        </div>
    </div>
</section>
