<% content_for :head_top do %>
    <title>Pricing</title>
    <meta name="description" content="Learn more about our pricing for personal training, crossfit classes, body fat testing, nutrition planning and individual design.">
<% end %>


<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/pricing-bg-min.jpg');">
    <div class="intro-content">
        <h1 class="brand-name">Pricing</h1>
        <hr class="colored">
        <div class="brand-name-intro">Plans that work for you<div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12" style="color:#333">
                <h2>What We Offer</h2>
                <hr class="colored">
                <p>
                    You're unique and so should your training plan. We offer the following coaching services to help you achieve your goals.
                </p>
            </div>
        </div>
        <%= render "service_offerings" %>
    </div>
</section>
