<% content_for :head_top do %>
    <title>Schedule</title>
    <meta name="description" content="View availble class times for the upcoming week.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/barbells.jpg');">
    <div class="intro-content">
        <div class="brand-name-intro">Schedule<div>
        <hr class="colored">
        <div class="brand-name">Let's Get To It</div>
    </div>
</header>

<section class="cta-form bg-dark">
    <div class="container text-center">
        <h3>Interested in Learning More?</h3>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
        		<p>Schedule a FREE 1 on 1 check-in with a coach to discuss your fitness goals and have your questions answered.</p>
                <%= render partial: "shared/assessment_icons" %>
                <div style="margin-top:25px">
                    <%= link_to "Takes 15 Seconds to Schedule", get_started_path, class: "btn btn-primary btn-lg schedule-btn"%>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Pick Your Class</h2>
                <p>all roads lead to a better you</p>
                <hr class="colored">
                <div class="class-options btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary btn-responsive selected" data-type="all">All</button>
                  <button type="button" class="btn btn-secondary btn-responsive" data-type="cf">CrossFit</button>
                  <button type="button" class="btn btn-secondary btn-responsive" data-type="ca">CrossFit Academy</button>
                  <button type="button" class="btn btn-secondary btn-responsive" data-type="og">Open Gym</button>
                </div>
            </div>
        </div>
        <div class="row content-row">
        	<div class="col-lg-12" style="text-align:center">
                <div class="content">
                    <%= render partial: "full_screen_schedule" %>
                    <%= render partial: "small_screen_schedule" %>
                </div>
        	</div>
        </div>
    </div>
</section>
