<%= render "shared/navbar" %>

<!-- <header style="background-image: url('/assets/bg/header-1.jpg');"> -->
<header style="background-image: url('http://www.borisandcompany.com/wp-content/gallery/crossfit/01-crossfit.jpg');">
    <div class="intro-content">
        <div class="brand-name-intro">Schedule<div>
        <hr class="colored">
        <div class="brand-name">Let's Get To It</div>
    </div>
</header>

<section class="cta-form bg-dark">
    <div class="container text-center">
        <h3>New Member?</h3>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            		<p>Signup takes less than 2 minutes and allows you to register for any class below</p>
            		<button class="btn btn-primary">Signup Now!</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Pick Your Class</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
        	<div class="col-lg-12" style="text-align:center">
        		<h1>Clickable schedule goes here :)</h1>
        	</div>
        </div>
    </div>
</section>

<%= render "shared/footer" %>