<% content_for :head_top do %>
    <title>Schedule</title>
    <meta name="description" content="View our schedule of classes for CrossFit">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/barbells.jpg');">
    <div class="intro-content">
        <h1 class="brand-name">Schedule</h1>
        <hr class="colored">
        <div class="brand-name-intro">Let's Get To It<div>
    </div>
</header>

<section class="cta-form bg-dark">
    <div class="container text-center">
        <h3>Interested in Learning More?</h3>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
        		<p>Schedule a FREE 1 on 1 check-in with a coach to discuss your fitness goals and have your questions answered.</p>
                <%= render partial: "shared/assessment_icons" %>
                <div style="margin-top:25px">
                    <%= link_to "Takes 15 Seconds to Schedule", get_started_path, class: "btn btn-primary btn-lg schedule-btn"%>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Pick Your Class</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <iframe src="https://cigarcitycrossfit.zenplanner.com/zenplanner/portal/calendar.cfm?frame=true" style="width:100%; height:500px;" onLoad="window.scroll(0,0);" frameborder="0" id="idZenPlannerFrame">
                </iframe>
                <script src="https://cigarcitycrossfit.zenplanner.com/zenplanner/skin/js/resize.js"></script>
            </div>
        </div>
    </div>
</section>
