<% content_for :head_top do %>
    <title>Shit We Like</title>
    <meta name="description" content="Food, supplements, gear we love and services we love.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg');">
    <div class="intro-content">
        <div class="brand-name">Food Supplements and Gear we love</div>
    </div>
</header>

<section>
	<div class="container">
		<div class="text-center">
			<h2>Tasty Eats</h2>
			<p>restaurants and products we like to nosh on</p>
			<hr class="colored">
		</div>
		<div class="row">
			<div class="col-lg-3 text-center">
				<a href="http://www.cicciorestaurantgroup.com/restaurants/fresh-kitchen.html" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/fresh-kitchen-logo.jpg">	
				</a>
				<h3>Fresh Kitchen</h3>
				<p>Our favorite restaurant. Just go.</p>
			</div>
			<div class="col-lg-3 text-center">
				<a href="http://sofreshsalads.com/" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/so-fresh-logo.png" style="margin-top:50px;margin-bottom:55px;">
				</a>
				<h3>So Fresh</h3>
				<p>Quick serve wraps, salads, bowls.</p>
			</div>
			<div class="col-lg-3 text-center">
				<a href="http://eatfitlifefoods.com/" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/fitlife-food-logo.jpg">
				</a>
				<h3>Fitlife Foods</h3>
				<p>Meal prep done right.</p>
			</div>
			<div class="col-lg-3 text-center">
				<a href="http://abspancakes.com/?aff=24" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/abs-protein-logo.jpg">	
				</a>
				<h3>Abs Pancakes</h3>
				<p>Protein packed pancake mix</p>
			</div>
		</div>
		<div class="row content-row">
			<div class="col-lg-3 text-center">
				<a href="https://www.facebook.com/Natural-Food-Performance-1650129658589917" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/natural-food-performance-logo.png" alt="natural food performance logo" class="img img-responsive">	
				</a>
				<h3>Natural Food Performance</h3>
				<p>Protein packed muffins</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-gray">
	<div class="container">
		<div class="text-center">
			<h2>Supplements</h2>
			<p>supercharge your whole foods diet with these items</p>
			<hr class="colored">
		</div>
		<div class="row text-center">
			<div class="col-lg-3">
				<a href="http://www.sfh.com/" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/sfh-logo.jpg">	
				</a>
				<h3>SFH</h3>
				<p>Good ass pre/post workout</p>
			</div>
			<div class="col-lg-3">
				<a href="https://sunwarrior.com/" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/sunwarrior-logo.png">	
				</a>
				<h3>SunWarrior</h3>
				<p>Good ass vegan protein</p>
			</div>
			<div class="col-lg-3">
				<a href="https://www.amazon.com/Natures-Plus-Vitamin-Vegetarian-Capsules/dp/B0042DDP44" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/vit-d31.jpg">	
				</a>
				<h3>Vitamin D3</h3>
				<p>Because you're not in the sun enough</p>
			</div>
			<div class="col-lg-3">
				<a href="https://www.amazon.com/Spectrum-Essentials-Vegetarian-Softgels-Count/dp/B001SB1T9Q" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/dha-label.jpg">	
				</a>
				<h3>DHA</h3>
				<p>Because you're eating too many Omega-6 Fats</p>
			</div>
			<div class="col-lg-3">
				<a href="http://www.killcliff.com/" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/kc-logo.png">	
				</a>
				<h3>Kill Cliff</h3>
				<p>Quick recovery post WOD</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="text-center">
			<h2>Gear</h2>
			<p>every craftsman needs the right tools</p>
			<hr class="colored">
		</div>
		
		<div class="row text-center">
			<div class="col-lg-3">
				<a href="http://www.roguefitness.com/conditioning/jump-ropes/speed-ropes" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/speed-rope.png">	
				</a>
				<h3>Speed Ropes</h3>
				<p>Your double unders will thank you</p>
			</div>
			<div class="col-lg-3">
				<a href="http://www.roguefitness.com/lifting-straps-wraps/protection-supports/knee-sleeves" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/knee-sleeves.png">
				</a>
				<h3>Knee Sleeves</h3>
				<p>Compression + blood flow = better recovery</p>
			</div>
			<div class="col-lg-3">
				<a href="https://jerkfit.com/product/wodies/" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/wrist-wraps.jpg">	
				</a>
				<h3>Wrist Wraps</h3>
				<p>Thrusters, pullups, handstands. Enough said.</p>
			</div>
			<div class="col-lg-3">
				<a href="http://www.blenderbottle.com/" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/blender-bottle.jpg">	
				</a>
				<h3>Blender Bottle</h3>
				<p>Makes mixing powders too easy.</p>
			</div>
		</div>
		<div style="margin-top:25px;" class="row text-center">
			<div class="col-lg-3">
				<a href="http://www.roguefitness.com/shoes/weightlifting-shoes" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/oly-shoes.jpg">	
				</a>
				<h3>Oly Shoes</h3>
				<p>Increased stability, increases 1RMs</p>
			</div>
			<div class="col-lg-3">
				<a href="http://store.nike.com/us/en_us/pd/metcon-2-mens-training-shoe/pid-10949913/pgid-10986452" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/nike-metcon.jpg">	
				</a>
				<h3>CrossFit Shoes</h3>
				<p>Reebok Nanos or Nike MetCons</p>
			</div>
			<div class="col-lg-3">
				<a href="https://www.amazon.com/w-d-welder-Hand-Care-Kit/dp/B00QIVGFX6" target="blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/hand-salve.jpg">	
				</a>
				<h3>Hand Salve</h3>
				<p>Recover faster from rips</p>
			</div>
			<div class="col-lg-3">
				<a href="http://www.goattape.com/" target="_blank">
					<img src="https://cftaskforce.files.wordpress.com/2016/01/goat-tape.png">	
				</a>
				<h3>Tape</h3>
				<p>Ain't nobody got time for ripped hands</p>
			</div>
		</div>
	</div>
</section>