<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/rope-climb.jpg');">
    <div class="intro-content">
        <div class="brand-name-intro">Signup<div>
        <hr class="colored">
        <div class="brand-name">heck yea</div>
        
    </div>
</header>

<section>
	<div class="container-fluid">
	    <div class="row text-center">
	        <div class="col-lg-8 col-lg-offset-2">
	            <h2>Create a Free Account</h2>
	            <p>We use FrontDesk to keep track of memberships, scheduling and a whole lotta other goodness. To get started with us today, click the link below. It'll open a new window where you can complete the signup process on FrontDesk's site. Once you have an account, enroll in one of the 'Free CrossFit Intro Classes'.  We look forward to seeing you!</p>
	            <hr class="colored">
	        </div>

	        <div class="row content-row">
	        	<div class="col-lg-12">
	        		<a href="https://cigarcitycrossfit.frontdeskhq.com/welcome" target="_blank" class="btn btn-outline-dark">Create an Account with FrontDesk</a>
	        	</div>
	        </div>
	    </div>
	 </div>
</section>