<% content_for :head_top do %>
    <title>Cigar City CrossFit WOD Page</title>
    <meta name="description" content="View Cigar City Crossfit's WODS (workout of the day). Our workouts are never random. We program weeks in advance. We use TrainHeroic to allow our athletes the best performance tracking available.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/zfiqc5czrp.jpg');">
    <div class="intro-content">
        <div class="brand-name">WOD Journal</div>
        <hr class="colored">
        <div class="brand-name-intro">time to sweat<div>
    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>This Is How We Train</h2>
                <p>No WODs exist yet, stay tuned, our regular programming begins May 1st 2016.</p>
                <hr class="colored">
            </div>
        </div>
        
        <div class="row text-center" id="todays-wod">
            <div class="col-lg-12">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://app.wodify.com/Performance/PublicWhiteboard.aspx?WhiteboardKey=vyky7cu44j"></iframe>
                </div>
            </div>
        </div>
</section>
