<header style="background-image: url('http://assets-s3.mensjournal.com/img/essential/crossfit-best-calorie-burning-workouts/618_348_crossfit-best-calorie-burning-workouts.jpg');">
    <div class="intro-content">
        <div class="brand-name-intro">WOD Blog<div>
        <hr class="colored">
        <div class="brand-name">Time to sweat</div>
    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>This Is How We Train</h2>
                <p>If you're a member, be sure to log into TrainHeroic to track your performance and see what other have put up for the day.</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-4">
                <img src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s640x640/sh0.08/e35/1515658_206847722993224_1010073291_n.jpg" style="height:auto;max-width:100%;">
                
            </div>
            <div class="col-md-4">
                <img src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s640x640/sh0.08/e35/1515658_206847722993224_1010073291_n.jpg" style="height:auto;max-width:100%;">
            </div>
            <div class="col-md-4">
                <img src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s640x640/sh0.08/e35/1515658_206847722993224_1010073291_n.jpg" style="height:auto;max-width:100%;">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-4">
                <img src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s640x640/sh0.08/e35/1515658_206847722993224_1010073291_n.jpg" style="height:auto;max-width:100%;">
                
            </div>
            <div class="col-md-4">
                <img src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s640x640/sh0.08/e35/1515658_206847722993224_1010073291_n.jpg" style="height:auto;max-width:100%;">
            </div>
            <div class="col-md-4">
                <img src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s640x640/sh0.08/e35/1515658_206847722993224_1010073291_n.jpg" style="height:auto;max-width:100%;">
            </div>
        </div>
    </div>
</section>


