.nav-actions{
	margin-left:-15px;
	margin-top:20px
}

a.delete-btn{
	position:absolute;
	top:-43px;
	right:-7px;
}

.image-group{
	margin-top:25px;
}

.admin-nav-block{
	border:1px solid;
	padding:45px;
}

.align{
	margin-left:-15px;
	margin-bottom:25px;
}