<% content_for :head_top do %>
    <title>Cigar City CrossFit 404 Page</title>
    <meta name="description" content="404 Page for Cigar City CrossFit">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg');">
    <div class="intro-content">
    		<h2>404</H2>
    		<hr class="colored">
        <h3>That's the internet's way of telling you you're lost. Use the navbar at the top of the page to get back to safety.</h3>
    </div>
</header>

