<% content_for :head_top do %>
    <title>Cigar City CrossFit 500 Page</title>
    <meta name="description" content="500 Page for Cigar City CrossFit">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg');">
    <div class="intro-content">
    		<h2>500</H2>
    		<hr class="colored">
        <h3>Crap! Something is wrong with the internals of this badboy. Our developers are being notified right now. We'll be back up again shortly.</h3>
    </div>
</header>
