<% content_for :head_top do %>
    <title>Cigar City CrossFit 422 Page</title>
    <meta name="description" content="422 Page for Cigar City CrossFit">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg');">
    <div class="intro-content">
    		<h2>422</H2>
    		<hr class="colored">
        <h3>Dagnabit! Our servers were unable to process the request. Something is broken somewhere. We're looking into now and will get it fixed pronto.</h3>
    </div>
</header>
