<script type="text/javascript">
	$("nav").addClass("solid");
</script>

<section class="tools">
	<div class="container" style="padding:100px 0">
		<%= link_to(tools_wendlers_path) do %>
				<div class="col-md-4 col-md-offset-4 item">
					<img src="<%= asset_path('wendler-icon.svg') %>" style="height:150px" alt="weightlifting icon">
					<h2>Wendler</br>Calculator</h2>
				</div>
		<% end %>
	</div>
</section>



