<form action="https://app.hatchbuck.com/onlineForm/submit.php" method="post" name="form_62312123209" accept-charset="utf-8" id="lead-form">
    <input type="hidden" name="formID" value="62312123209">
    <input type="hidden" name="enableServerValidation" value="1">
    <input type="hidden" name="enable303Redirect" value="1">

    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label for="input_1"> First Name<span>*</span></label>
        <input type="text" id="input_1" name="q1_firstName1" required maxlength="25" placeholder="First Name" class="form-control">
      </div>
    </div>

    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label for="input_3"> Last Name<span>*</span> </label>
        <input type="text" id="input_3" name="q3_lastName3" required maxlength="25" placeholder="Last Name" class="form-control">
      </div>
    </div>

    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label for="input_4"> E-mail<span>*</span> </label> 
        <input type="email" id="input_4" name="q4_email" required maxlength="25" placeholder="Email" class="form-control">
      </div>
    </div>

    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label for="input_5"> Phone Number<span>*</span> </label>
        <div class="phone_number">
          <span class="phone-number">Phone Number</span>
          (<input type="tel" id="phone_area" name="q5_phoneNumber5[area]" size="3" placeholder="813">) - 
          <input type="tel" id="phone_number" name="q5_phoneNumber5[phone]" size="7" placeholder="1235555">
        </div>
      </div>
    </div>

    <div class="row control-group lead-source" style="margin-top:20px">
      <div class="form-group col-xs-12">
        <div class="dropdowns">
          <p>How Did You Hear About Us?<span>*</span></p>
          <select name="q6_howdYou" id="lead-source-select">
            <option value="">select</option>
            <option value="Referral">Referral</option>
            <option value="Facebook">Facebook</option>
            <option value="Yelp">Yelp</option>
            <option value="Google/Online Search">Google/Online Search</option>
            <option value="Walk In">Walk In</option>
            <option value="Print Sign/Flier">Print Sign/Flier</option>
            <option value="Other">Other</option>
          </select>
        </div>
        
        <div>
          <p>Gender<span>*</span></p>
          <select name="q7_customDropdown7" id="gender-select">
            <option value="">select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>  
        </div>
      </div>
    </div>


    <div class="row control-group" style="margin-top:20px">
      <%= submit_tag "Book Free Trial", class: "btn btn-primary btn-block"%>
    </div>
    
    <li style="display:none">Should be Empty: <input type="hidden" name="website" value=""></li><input type="hidden" id="simple_spc" name="simple_spc" value="62312123209-62312123209">
</form>
