<% content_for :head_top do %>
    <title>Cigar City CrossFit Blog Author Page</title>
    <meta name="description" content="View a listing of all the authors who contribute to Cigar City CrossFit's blog.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/depositphotos_40491777_m.jpg');">
    <div class="intro-content">
        <h2>Recent posts from  <%= @first_name %> <%= @last_name %></h2>
        <hr class="colored">
        <h4 class="author-email"><%= @email %></h4>
    </div>
</header>

<section>
	<div class="container">
		<%= render partial: "blog/post", collection: @recent_posts %>
	</div>
</section>