<header style="background-image: url('http://www.crossfitprescottvalley.com/wp-content/uploads/2013/12/wall-back2.jpg');">
    <div class="intro-content">
        <h2>Recent <%= @name %> posts</h2>
        <hr class="colored">
    </div>
</header>

<section>
	<div class="container">
		<%= render partial: "blog/post", collection: @recent_posts %>
	</div>
</section>