<% content_for :head_top do %>
    <title>Cigar City CrossFit Blog</title>
    <meta name="description" content="The Cigar City CrossFit blog focuses on delivering information to help you lose weight, build muscle, increase energy and be your best self.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/rings-header.jpg');">
    <div class="intro-content">
        <h1 class="brand-name">The Blog</h1>
        <hr class="colored">
        <div class="brand-name-intro">articles on nutrition, fitness and being your best self<div>
        
    </div>
</header>

<section>
	<div class="container">
		<%= render partial: "blog/post", collection: @recent_posts %>	
		<%= render partial: "blog/pagers", locals: {next_page: @next_page, previous_page: @previous_page} %>
	</div>
</section>