/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/bootstrap.min
 *= require bootstrap-overrides
 *= require font-awesome
 *= require plugins/owl-carousel/owl.carousel
 *= require plugins/owl-carousel/owl.theme
 *= require plugins/owl-carousel/owl.transitions
 *= require plugins/magnific-popup
 *= require plugins/background
 *= require plugins/bootstrap-multiselect.min
 *= require vitality-red
 *= require simple_calendar
 *= require admin/base
 *= require admin/messages
 *= require pages
 *= require grand-opening
 *= require checkboxes
 *= require schedule
 *= require get-started
 *= require tools/base
 *= require tools/wendlers
 */

a.banner{
	text-align:center;
	background:#ef4035;
	color:white;
	display:block;
	padding:10px;
	z-index:1000;
	margin-top:-18px
}

@media (max-width: 481px) {
  a.banner{
  	margin-top:0px !important;
  }
}

@media (max-width: 481px) {
 .brand-name{
 		font-size:45px !important;
 		line-height:45px !important;
 }
}
