
.top-left-logo{
	width:150px;
	position:absolute;
	top:10px;
	left:25px;
}
	
.intro-content.seminar{
	width:57%;
	top:22%;
}

.sub-text{
	color: white;
	text-align: center;
	width: 70%;
	margin: auto;
	position: absolute;
	top: 75%;
	left: 17%;
	p.lg{font-size:25px; line-height:0.5px;}
	p.sm{font-size:35px; text-transform:uppercase; font-weight:900}
	.btn{font-size:25px;}
}

section#about{
	.info-box{
		border:1px solid black;
		padding:40px;
		margin-bottom:20px;
	}
	h3{text-align:center;}
	i{color:#ef4035}
}


.price-text{
	position:absolute;
	left: 35%;
  top: 14%;
  &.pull-left{left:34%}
}	

.apply-btn{
	margin-top:50px;
	padding:20px 0;
	width:100%;
}

.strikeout {
  font-size: 1.2em;
  line-height: 1em;
  position: relative;
}
.strikeout::after {
  border-bottom: 0.125em solid red;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(22deg);
}

img.offset-left{margin-left:30px;}

section#seminar-details{
	h4{margin-bottom:0px}
	p{margin-bottom:15px}
}

// mobile styling

@media (max-width: 500px) {
	header{min-height:560px;}

	.top-left-logo{
		position: relative;
		margin-left: 25%;
		margin-top: -95px;
	}

	.intro-content.seminar{
		width:100%;
		top:22%;
	}

	.sub-text{
		color: white;
		text-align: center;
		width: 100%;
		margin: auto;
		position: absolute;
		top: 76%;
		left:0;
		p.lg{font-size:11px; line-height:0.5px;}
		p.sm{font-size:20px; text-transform:uppercase; font-weight:900}
		.btn{font-size:15px;}
	}

	.price-text{
		left:18% !important;
	}

	section#seminar-details{
		.btn{margin-bottom:30px}
	}

	aside#charity{
		img{margin-bottom:10px}
	}
}


