#lead-form{
	input{color:white}
}

.topics-wrapper{
	padding-left:30px;
	h3{margin-top:0px;}
	.topics{
		margin-left:10px;
		p {font-size:17px;}
	}
}


@media (max-width: 500px) {
	.topics-wrapper{
		margin-top:25px;
		padding-left:0px;
		margin-left:10px;
		margin-right:10px;
		.btn{
			padding:20px 18px;
			margin-left:7px;
		}
	}
}

.phone_number{
	float:left;
	span.phone-number{
		color: grey;
		font-size: 25px;
		margin-right: 20px;
	}
	#phone_area{
		background:white;
		width:85px;
		font-size:18px;
		text-align:center;
		color:black;
		height:30px;
	}
	#phone_number{
		background:white;
		width:200px;
		font-size:18px;
		text-align:center;
		color:black;
		height:30px;
	}
}

.lead-source .dropdowns {float:left;}

@media (max-width: 500px) {
	.phone_number{text-align:left;}
	span.phone-number{display:block;}
	.lead-source{
		.dropdowns{float:none;}
	}
}


.multiselect.dropdown-toggle.btn.btn-default{
	min-width:200px !important
}
