#lead-form{
	input{color:white}
}

.topics-wrapper{
	padding-left:30px;
	h3{margin-top:0px;}
	.topics{
		margin-left:10px;
		p {font-size:17px;}
	}
}


@media (max-width: 500px) {
	.topics-wrapper{
		margin-top:25px;
		padding-left:0px;
		margin-left:10px;
		margin-right:10px;
		.btn{
			padding:20px 18px;
			margin-left:7px;
		}
	}
}

