// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.center{margin:auto}


.pricing-subtext{
	font-size:25px;
	font-weight:700;
	margin-bottom:-3px;
}